<div class="section banner container d-flex justify-content-center p-5 my-4 gap-5">
  <div>
    <%= image_tag 'demoday-picture.jpg', alt: "profile photo" %>
  </div>
  <div class="d-flex flex-column justify-content-center align-items-center p-2">
    <h1 class="title-main">Patrik Moledo</h1>
    <p class="banner-text">Fullstack developer</p>
    <ul>
      <li><a href="https://github.com/patrikmoledo"><i class="fa-brands fa-github"></i></a></li>
      <li><a href="https://www.linkedin.com/in/patrikmoledo/"><i class="fa-brands fa-linkedin"></i></a></li>
      <li><a href="moledop55@gmail.com"><i class="fa-solid fa-envelope"></i></a></li>
    </ul>
  </div>
</div>
