<div class="section container d-flex justify-content-center p-5 gap-5">
  <div>
    <%= image_tag 'demoday-picture.jpg', alt: "profile photo", style: 'width: 200px;' %>
  </div>
  <div>
    <h1 class="title-main">Patrik Moledo</h1>
    <p class="banner-text">Fullstack developer</p>
  </div>
</div>
