<div class="row justify-content-center banner">
  <div class="col-12 d-flex justify-content-around align-items-center h-100">
    <div class="d-flex flex-column justify-content-between gap-5" id="banner-info">
      <div class="text-center">
        <h1 class="title-main">Patrik Moledo</h1>
        <p class="banner-text">Fullstack developer</p>
        <%# <p class="smaller-text">Ruby on Rails focused developer, teamplayer, cat person</p> %>
      </div>
    </div>
    <div>
      <%= image_tag 'demoday-picture.jpg', alt: "profile photo", class: 'avatar-portfolio' %>
      <div class="d-flex justify-content-center gap-3 mt-5 text-red">
        <div class="button-social d-flex flex-column justify-content-center align-items-center">
          <i class="fa-brands fa-github fs-1"></i>
          <%= link_to "", "https://github.com/moledoPatrik", target: '_blank', class: 'button-social-link' %>
        </div>
        <div class="button-social d-flex flex-column justify-content-center align-items-center">
          <i class="fa-brands fa-linkedin fs-1"></i>
          <%= link_to "", "https://www.linkedin.com/in/patrikmoledo/", target: '_blank', class: 'button-social-link ' %>
        </div>
        <div class="button-social d-flex flex-column justify-content-center align-items-center">
          <i class="fa-solid fa-envelope fs-1"></i>
          <%= link_to "", "pmoledo55@gmail.com", target: '_blank', class: 'button-social-link ' %>
        </div>
      </div>
    </div>
  </div>
</div>
