<div class="section banner container d-flex flex-wrap justify-content-center my-4 p-5 gap-5">
  <div class="d-flex flex-column justify-content-center align-items-center p-2">
    <h1>Patrik Moledo</h1>
    <p class="banner-text">Fullstack developer</p>
    <ul>
      <li><a href="https://github.com/patrikmoledo"><i class="fa-brands fa-github"></i></a></li>
      <li><a href="https://www.linkedin.com/in/patrikmoledo/"><i class="fa-brands fa-linkedin"></i></a></li>
      <li><a href="mailto:moledop55@gmail.com"><i class="fa-solid fa-envelope"></i></a></li>
    </ul>
  </div>
  <div>
    <%= image_tag 'demoday-picture.jpg', alt: "profile photo" %>
  </div>
</div>
