<div class="footer">
  <p>
    © 2023 Patrik Moledo
  </p>
  <ul>
    <li><a href="https://github.com/patrikmoledo" target="_blank"><i class="fa-brands fa-github"></i></a></li>
    <li><a href="https://www.linkedin.com/in/patrikmoledo/" target="_blank"><i class="fa-brands fa-linkedin"></i></a></li>
    <li><a href="mailto:moledop55@gmail.com"><i class="fa-solid fa-envelope"></i></a></li>
  </ul>
</div>
