<nav class="custom-nav d-flex justify-content-around align-items-center sticky-top">
  <ul class="list-inline">
    <li class="list-inline-item mx-5">
      <%= link_to 'Home', '#banner-section' %>
    </li>
  </ul>
  <ul class="list-inline">
    <li class="list-inline-item mx-5">
      <%= link_to 'About', '#about-section' %>
    </li>
    <li class="list-inline-item mx-5">
      <%= link_to 'Skills', '#skills-section'  %>
    </li>
    <li class="list-inline-item mx-5">
      <%= link_to 'Projects', '#projects-section' %>
    </li>
  </ul>
</nav>
