<nav class="custom-nav d-flex justify-content-center align-items-center sticky-top">
  <ul class="list-inline">
    <li class="list-inline-item mx-5">
      <a href="#">About</a>
    </li>
    <li class="list-inline-item mx-5">
      <a href="#">Projects</a>
    </li>
    <li class="list-inline-item mx-5">
      <a href="#">Contact</a>
    </li>
  </ul>
</nav>
