<div class="banner-projects-heading my-4 d-flex justify-content-center align-items-center">
  <h2>Projects</h2>
</div>
<div class="d-flex flex-column align-items-center">
  <% data.projects.each do |project| %>
    <div class="card-portfolio my-3">
      <%= image_tag project.image, alt: "project image", class: 'card-image' %>
      <div class="card-details">
        <div class="d-flex justify-content-between">
          <h2><%= project.name %></h2>
          <% link_to project.url, class: 'external-link', target: '_blank' do %>
            <i class="fa-brands fa-square-github text-red fs-2"></i>
          <% end %>
        </div>
        <span class="card-stack"><%= project.stack %></span>
        <p><%= project.description %></p>
      </div>
    </div>
  <% end %>
</div>
