.card-project {
  width: 360px;
  background-color: white;
  border-radius: 8px;

  .card-project-image {
    height: 240px;
    width: 100%;

    img {
      height: 240px;
      width: 340px;
      border-radius: 8px;
    }
  }
  .card-project-detail {
    .card-project-heading {
      h3 {
        font-size: 20px;
        font-weight: 700;
        color: $custom-red;
        margin-bottom: 0;
      }
      div {
        a {
          font-size: 20px;
          color: $custom-black;

          &:hover {
            transition: 0.5s;
            color: $custom-green
          }
        }
      }
    }
    .card-project-stack {
      font-size: 16px;
      font-weight: 700;
      color: $custom-yellow;
    }
    .card-project-description {
      font-size: 16px;
    }
  }
}
