.card-portfolio {
  display: flex;
  box-shadow: 0px 0px 4px rgba(60, 60, 60, 0.5);
  width: 80vw;

  .card-image {
    width: 50%;
    height: 30vh;
    border-radius: 4px;
  }

  .card-details {
    background-color: $custom-white;
    color: $custom-black;
    width: 100%;
    padding: 8px;
    border-radius: 4px;
  }

  .card-stack {
    font-family: $text-font;
    color: rgba(20, 20, 20, 0.6);
    font-weight: 700;
    font-size: 16px;
  }
}
