.custom-nav {
  height: 10vh;
  background-color: $custom-black;
  // border-bottom: 1px solid $custom-gray;
  box-shadow: 0 0 4px #202020;

  a {
    text-decoration: none;
    color: $custom-white
  }
}
