.custom-nav {
  height: 8vh;
  background-color: $custom-black;
  // border-bottom: 1px solid $custom-gray;
  box-shadow: 0 0 4px #202020;

  ul {
    margin-bottom: 0;
  }

  a {
    text-decoration: none;
    color: $custom-white;
    transition: 0.25s;

    &:hover {
      opacity: 0.7;
    }
  }
}
