body {
  background-color: $custom-black;
  color: $custom-white;
}

h1 {
  font-size: 56px;
  padding-bottom: 16px;
}

h1,
h2,
h3 {
  font-family: $heading-font;
  font-weight: 700;
}

p {
  font-family: $text-font;
  font-weight: 300;
  font-size: 20px;
  opacity: 0.8;
}

.smaller-text {
  font-size: 16px;
}

.menu-padding {
  padding-top: 8vh;
}

.text-red {
  color: $custom-red;
}

.skills-text {
  font-family: $text-font;
  font-size: 20px;
}
