// Define variables for your color scheme

// For example:
$red: #FD1015;
$blue: #0D6EFD;
$yellow: #FFC65A;
$orange: #E67E22;
$green: #1EDD88;
$dark-gray: #0E0000;
$gray: #868686;
$light-gray: #F4F4F4;

$custom-green: #C6FFDD;
$custom-yellow: #FBD786;
$custom-red: #f7797d;
$custom-black: rgb(40, 40, 40);
$custom-white: rgb(240, 240, 240);
