// Define variables for your color scheme

// For example:
$red: #FD1015;
$blue: #0D6EFD;
$yellow: #FFC65A;
$orange: #E67E22;
$green: #1EDD88;
$dark-gray: #0E0000;
$gray: #868686;
$light-gray: #F4F4F4;

$custom-red: #F73940;
$custom-black: #1E1E1E;
$custom-white: #F1F1F1;
$custom-gray: hsl(0, 0%, 80%);
